#main-content {
  padding-top: 50px;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #f4425c;
  border-radius: 5px;
}

.colorgraph_two {
  height: 7px;
  border-top: 0;
  background: #f4425c;
  border-radius: 5px;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4425c;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: "brandon-grotesque","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}
/*
.profile-name {
  min-width: 210px;
}*/

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4425c !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4425c;
}

.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal {
   top: 20%;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.question_content {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.user_question {
  font-size: 15px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 5px 5px;
    font-size: 12;
    line-height: 1.3333333;
    border-radius: 6px;
  }

.btn-info {
  border: 1px solid #f4425c;
  color: #f4425c;
  background-color: white;
}

.btn-info:hover {
    color: #fff;
    background-color: #f4425c;
    border-color: #f4425c;
  }

.btn-vote {
  padding: 5px 5px;
  font-size: 12;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid;
  border-color: #2b6dad;
  background-color: white;
}

.vote {
  display: inline-block;
}

.btn-primary {
  padding: 5px 5px;
  font-size: 12;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.btn-vote:hover {
  color: #fff;
  background-color: #f4425c;
  border-color: #f4425c;
}

.btn-default {
  padding: 5px 5px;
  font-size: 12;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid;
}

.question_content {
  color: black;
}

.question_content:hover, .question_content:visited, .question_content:link, .question_content:active {
  color: black;
}

.ask-question-button {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: #f4425c;
}

.ask-question-button:hover, .ask-question-button:link, .ask-question-button:active {
  text-decoration: none;
  color: black;
}

.question-header {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.stories-header {
  color: #333;
  font-weight: 500;
  font-size: 15px;
}

.username_time {
  color: #999;
  font-size: 13px;
}

.answers-answered {
  font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
  font-size: 15px;
}
