<html>
	<head>


		  <title>Wai Hong's Kuery</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
		  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
			<script src="js/application.js"></script>
 <link rel="stylesheet" href="/css/sheet.css">





	</head>
	<body>

		<% x = User.find_by(id: session["user_id"]) %>
		<% p x %>
		<% p x.present? %>
		<% if x.present? == false %>


		<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#myPage">Kuery</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-left">
				</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/new"><span class="glyphicon glyphicon-user "></span> SIGN UP</a></li>
						<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

<% else %>

			<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#myPage">Kuery</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/profile">WELCOME <%= @user.first_name.upcase %>!</a></li>
						<li><a href="#read"><span class="glyphicon glyphicon-list-alt"></span>READ</a></li>
						<li><a href="#answer"><span class="glyphicon glyphicon-pencil"></span>ANSWER</a></li>
					</ul>
						<ul class="nav navbar-nav navbar-right">
			 <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
					</ul>
				</div>
			</div>
		</nav>

				<% end %>

		<%= yield %>

		<footer class="container-fluid text-center">
		  <a href="#myPage" title="To Top">
		    <span class="glyphicon glyphicon-chevron-up"></span>
		  </a>
		  <p>Kuery created by Yeoh Wai Hong</a></p>
		</footer>



	</body>
</html>
